<h2>Login As Admin</h2>
{{#if errors}}
			{{#each errors}}
				<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{msg}}
				<a href="#close" class="icon-remove"></a></div>
			{{/each}}
		{{/if}}
<form id="regForm" method="post" action="/admin/register">

	<div>
		<label>username: </label>
		<input type="text" name="username">
	</div><br />
	<div>
		<label>Password: </label>
		<input type="Password" name="password">
	</div><br />
	
		<input type="submit" value="Login">
	</div>
</form>